
@{
    ViewBag.Title = "Calendario";
}

<br>
<br>





<center>
    <h1 class="titulo">Mi calendario</h1>
    <br />
    <div id="container">
        <div id="header">
            <div id="monthDisplay"></div>
            <div>
                <button id="backButton">Atrás</button>
                <button id="nextButton">Siguiente</button>
            </div>
        </div>

        <div id="weekdays">
            <div>Domingo</div>
            <div>Lunes</div>
            <div>Martes</div>
            <div>Miércoles</div>
            <div>Jueves</div>
            <div>Viernes</div>
            <div>Sábado</div>
        </div>

        <div id="calendar"></div>
    </div>

    <div id="newEventModal">
        <h3>Nuevo</h3>

        <input id="eventTitleInput" placeholder="Agregar aquí" />

        <button id="saveButton">Guardar</button>
        <button id="cancelButton">Cancelar</button>
    </div>

    <div id="deleteEventModal">
        <p>Evento</p>

        <p id="eventText"></p>

        <button id="deleteButton">Eliminar</button>
        <button id="closeButton">Cerrar</button>
    </div>

    <div id="modalBackDrop"></div>
</center>
<br>
<br>

