@using ASFY_Proyecto.Models;
@{
    ViewBag.Title = "InicioSesion";
}
<br>
<br>

<div class="container">

    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 500px;">
            <br>
            <br>
            <h4 class="card-title mt-3 text-center">Log In</h4>
            <p class="text-center"></p>

            <form method="post" action="@Url.Action("Login", "ASFY")">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input name="email" id="email" class="form-control" placeholder="email de Usuario" type="text">
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input name="contrasena" id="contrasena" class="form-control" placeholder="Ingrese contrasenia" type="password">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-secondary btn-block"> Log In  </button>
                </div>
                <p class="text-center">
                    No tiene una cuenta? @Html.ActionLink("Registrarse", "Registrarse", "ASFY", null, new { @class = "nav-link" })
                </p>

                <div name="UsuarioNoEncontrado" id="UsuarioNoEncontrado" class="alert alert-danger" role="alert">
                    @ViewBag.error
                </div>

                <div name="UsuarioEncontrado" id="UsuarioEncontrado" class="alert alert-success" role="alert">
                    @ViewBag.encontrado
                </div>

                @*@Html.ActionLink("MiPerfil", "MiPerfil", "ASFY", new { codigoUsuarios = Usuarios.Codigo }, null)*@

            </form>
        </article>
        <br>
        <br>
    </div>
</div>


<br>
<br>
