@using ASFY_Proyecto.Models;

@{
    ViewBag.Title = "Programas";
}

<br>
<br>

<div class="container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">

                </th>
            </tr>
        </thead>

        @foreach (Programas programas in ViewBag.Programas)
        {

            <thead class="thead-light">
                <tr>
                    <td>
                        @programas.Nombre
                    </td>
                    <td>@programas.Descripcion</td>
                    <td>@Html.ActionLink("Rutinas", "RutinasPorProgramas", "ASFY", new { codigoProgramas = programas.codigo }, null) </td>
                    </tr>
                </thead>

                }
        </table>

</div>
<br>
<br>

