@using ASFY_Proyecto.Models;

@{
    ViewBag.Title = "Programas";
}

<br>
<br>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
            </tr>
        </thead>

        @foreach (Programas programas in ViewBag.Programas)
        {
            <tr>
                <td>@programas.Nombre</td>
                <td>@programas.Descripcion</td>
                @Html.ActionLink("Rutinas", "RutinasPorProgramas", "ASFY", new { codigoProgramas = programas.codigo }, null);
            </tr>

        }   
    </table>
</div>
<br>
<br>

