@using ASFY_Proyecto.Models;
@{
    ViewBag.Title = "Programas";
}

<br>
<br>

@foreach (Programas programas in ViewBag.Programas)
{

    <div class="container">
        <table class="table">
            <tbody>
                <tr><br>
                    <th scope="row">Nombre</th><br>
                    <td>@programas.Nombre</td>
                </tr>
                <tr><br>
                    <th scope="row">Descripción</th><br>
                    <td>@programas.Descripcion</td>
                </tr>
            </tbody>
        </table>

    </div>
}



<br>
<br>
