@using ASFY_Proyecto.Models;
@{
    ViewBag.Title = "RutinasPorProgramas";
}


<br>
<br>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Repeticiones</th>
                <th scope="col">

                </th>
            </tr>
        </thead>

        @foreach (Rutinas rutinas in ViewBag.RutinasMostrarProgramas)
        {
            <tr>
                <td>@rutinas.Nombre</td>
                <td>15 minutos </td>
            </tr>

        }
    </table>
</div>
<br>
<br>



