@using ASFY_Proyecto.Models;
@{
    ViewBag.Title = "RutinasPorProgramas";
}


<br>
<br>

<div class="container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Repeticiones</th>
                <th scope="col">Link</th>
                <th scope="col">

                </th>
            </tr>
        </thead>

        @foreach (Rutinas rutinas in ViewBag.RutinasMostrarProgramas)
        {
            <thead class="thead-light">
                <tr>
                    <td>@rutinas.Nombre</td>
                    <td>15 minutos </td>
                    <td> <iframe width="560" height="315" src="@rutinas.Link" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
                     
                </tr>
                </thead>
                }
        </table>
</div>
<br>
<br>



